{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}
<h1>DETAIL</h1>
<hr />
<p>
  <a href="{% url 'accounts:profile' movie.user %}" class="btn btn-secondary mr-2">{{ movie.user }}</a>님 작성
</p>
<div>
  <h3>{{ movie.title }}</h3>
  <p>{{ movie.content }}</p>


  {% if user == movie.user %}

  <div class="btn-group">
      <a href="{% url 'movies:update' movie.pk %}" class="btn btn-light">UPDATE</a>
      <form action="{% url 'movies:delete' movie.pk %}" method='POST'>
        {% csrf_token %}
      </div>
        <button type = 'submit' class="btn btn-light">DELETE</button>
      </form>
      {% endif %}
      <a href="{% url 'movies:index' %}" class="btn btn-light">BACK</a>
  <hr>
  

  
  {% comment %} comment {% endcomment %}
  <h2>댓글 목록</h2>
  {% for comment in comments %}
  <p>{{ comment.content }} - <a href="{% url 'accounts:profile' movie.user %}" style="text-decoration: none;">{{ comment.user }}</a></p>
  
  
  {% comment %} 댓글 지우기 {% endcomment %}
    {% if user == comment.user %}
    <form action="{% url 'movies:comments_delete' movie.pk comment.pk %}" method="POST" style="display: inline;">
      {% csrf_token %}
      <input type="submit" value="DELETE" /> 
    </form>
    {% endif %}
  


    <div class="container">
      <ul class="list-group">
        <span>
          {% if recomments %}
          <p>
              {% for recomment in comment.recomment_set.all %}
                <li class="list-group-item">
                  <span>{{ recomment.content }} - {{ recomment.user }}</span>
                </li>
              {% endfor %}
            </p>
          {% endif %}
        </span>
        <form action="{% url 'movies:recomments_create' movie.pk comment.pk %}" method="POST">
          {% csrf_token %}
          {{ recommet_form }}
          <input type="submit" value="ReComment" class="btn btn-light" />
        </form>
      </ul>
    </div>


<br><br><br>


 
  
{% endfor %}
<hr />
댓글 작성하기
<form action="{% url 'movies:comments_create' movie.pk %}" method="POST">
{% csrf_token %}
{{ comment_form }}
<input type="submit" />
</form>

{% endblock %}