{% extends "base.html" %}

{% load bootstrap5 %}

{% block content %}


<br><br><br><h3>INDEX PAGE</h3>

<hr>
<a href="{% url "movies:create" %}" class ="btn btn-light">[CREATE]</a>
<hr>
<h3 class="page-desc">Now playing</h3>
        {% for movie in movies  %}
            <div class="card"  style="width: 18rem;">
              <a href="{% url 'movies:detail' movie.pk %}"><img src="{{movie.poster_path}}" class="card-img-top" alt={{ movie.title }}></a>
    
            <div class="card-body"></a>
              <h5 class="card-title btn btn-light" ></h5>
      
            <div class="content-container">
                  <span class="card-text-full">{{movie.content}}</span>
              </p>

            </div>  

          <span>좋아요 {{ movie.like_users.all|length }} </span>
          <div class="d-flex justify-content-between" >
            {% comment %} 좋아요 {% endcomment %}
            <form action="{% url 'movies:likes' movie.pk %}" method = 'POST'>
              {% csrf_token %}
              {% if request.user in movie.like_users.all %}
              <input type="submit" value = '좋아요 취소' class="btn  btn-sm">
              {% else %}
              <input type="submit" value = '좋아요' class="btn  btn-sm">
              {% endif %}
          </div>  
      </div>
      </form>     
      
      
   
  </div>
  <hr> 
   {% endfor %}


{% endblock %}