{% extends "base.html" %}

{% block content %}

<h1>{{ person.username }}님의 프로필</h1>

<hr />

<h2>영화 목록</h2>
{% for movie in person.movie_set.all %}
  <p><a href="{% url "movies:detail" movie.pk %}" style="text-decoration: none;">{{ movie.title }}</a></p>
{% endfor %}


<h2>{{ person.username }}님이 좋아요를 누른 게시글</h2>
{% for movie in person.like_movies.all %}
  <p><a href="{% url "movies:detail" movie.pk %}" style="text-decoration: none;">{{ movie.title }}</a></p>
{% endfor %}


<a href="{% url "movies:index" %}" style="text-decoration: none;">[BACK]</a>

<div>
  팔로잉 : {{ person.followings.count }} 
  팔로워 : {{ person.followers.count }}
  {% if request.user != person  %}
    <form action="{% url "accounts:follow" person.pk %}" method = 'POST'>
      {% csrf_token %}
      {% if request.user in person.followers.all %}
      <input type="submit" value = 'Unfollow'>
      {% else %}
      <input type="submit" value = 'Follow'>
      {% endif %}
  </form>
  {% endif %}
  
</div>
{% endblock content %}